{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h4 class="page-title">Hamkor qo'shish</h4>
            <div class="card">
                <div class="card-body">

                    <div class="modal-body p-4">
                        <form id="post-form" method="post">
                            {% csrf_token %}
                            {#                                    {{ form.as_p }}#}
                            {#                                    <input type="submit">#}
                            <div class="mb-3">
                                <label for="phone" class="form-label">Telefon</label>
                                <input type="text" class="form-control" name="phone" id="phone"
                                       placeholder="Telefon">
                                <span>{{ form.phone.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Familiya</label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                       placeholder="Familiya">
                                <span>{{ form.last_name.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Ism</label>
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                       placeholder="Ism">
                                <span>{{ form.first_name.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="Username">
                                <span>{{ form.username.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="middle_name" class="form-label">Sharifi</label>
                                <input type="text" class="form-control" name="middle_name" id="middle_name"
                                       placeholder="Sharifi">
                                <span>{{ form.middle_name.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="region" class="form-label">Viloyat</label>
                                <select name="region" id="region" class="form-control form-control-lg">
                                    {% for region in form.region %}
                                        {{ region }}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="district" class="form-label">Tuman</label>
                                <select name="district" id="district" class="form-control form-control-lg">
                                    {% for district in form.district %}
                                        {{ district }}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" name="address" id="address"
                                       placeholder="address">
                                <span>{{ form.address.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="birthday" class="form-label">Tug'ilgan kuni</label>
                                <input type="date" class="form-control" id="birthday" name="birthday"
                                       placeholder="Tug'ilgan kuni">
                                <span>{{ form.birthday.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="role" class="form-label">Role</label>
                                <select name="role" id="role" class="form-control form-control-lg">
                                    <option selected value="8">Hamkor</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="passport_seria" class="form-label">Passport seria</label>
                                <input type="text" class="form-control" name="passport_seria" id="passport_seria"
                                       placeholder="Passport seria">
                                <span>{{ form.passport_seria.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="passport_number" class="form-label">Passport raqam</label>
                                <input type="number" class="form-control" name="passport_number" id="passport_number"
                                       placeholder="Passport raqam">
                                <span>{{ form.passport_number.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="person_id" class="form-label">JShShIR</label>
                                <input type="text" class="form-control" id="person_id" name="person_id"
                                       placeholder="JShShIR">
                                <span>{{ form.person_id.errors }}</span>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Jinsi</label>
                                <select name="gender" id="gender" class="form-control form-control-lg">
                                    <option value="0">Erkak</option>
                                    <option value="1">Ayol</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Parol</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" name="password1" class="form-control"
                                           placeholder="Parol">
                                    <span>{{ form.password1.errors }}</span>
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Parolni qayta kiriting</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" name="password2" class="form-control"
                                           placeholder="Parolni qayta kiriting">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                                <br>
                                <span>{% if form.password2.errors %}
                                    <h4>xato</h4>
                                {% endif %} </span>
                            </div>

                            <div class="text-end">
                                <input type="submit" class="btn btn-success waves-effect waves-light"
                                       placeholder="Save" value="Saqlash">
                                <a href="{% url 'user:employee-list' %}">
                                    <button type="button" class="btn btn-danger waves-effect waves-light"
                                            data-bs-dismiss="modal">Bekor qolish
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                var value = $(this).inputmask('unmaskedvalue');

                $('#phone').inputmask({
                    mask: (value.substr(0, 2) === '37' || value.substr(0, 2) === '34') ? '99 999 99 99' : '99 999 99 99'
                });
            });
        </script>
        <script>
            $("#region").change(function () {
                // get the url of the `load_cities` view
                const regionId = $(this).val();
                // get the selected country ID from the HTML input
                // console.log(regionId)
                $.ajax({                       // initialize an AJAX request
                    url: {% url 'lead:region' %},                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'region_id': regionId       // add the country id to the GET parameters
                    },
                    success: function (data) {
                        let html_data = '<option value="">Tumanni tanlang</option>';
                        data.forEach(function (district) {
                            html_data += `<option value="${district.id}">${district.title}</option>`
                        });
                        // console.log(html_data);
                        $("#district").html(html_data);
                    }
                });

            });
        </script>
    {% endblock js %}
{% endblock content %}