{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <form method="post">{% csrf_token %}
                        <h3>{{ eyeball.title }}</h3>
                        <h4>O'chirmoqchimisiz?</h4>
                        <input type="submit" class="btn btn-danger waves-effect waves-light" value="O'chirish">
                        <a href="{% url 'diagnostic:eyeballs' %}" class="btn btn-secondary waves-effect waves-light">Bekor qilish</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}