{% extends 'base.html' %}
{% load installment_tags %}
{% load card_startswith_tags %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <a href="{% url 'patient:qr-second' user.pk %}"
                               class="btn btn-outline-secondary waves-effect waves-light mt-1">Print</a>
                        </div>
                        <div class="page-title-right" style="margin-right: 15px">
                            <a href="{% url 'patient:qr-come-patient' user.pk %}"
                               class="btn btn-outline-info waves-effect waves-light mt-1">Karta</a>
                        </div>
                        <h4 class="page-title">{{ object.first_name }} {{ object.last_name }} {{ object.middle_name }}</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            {% include '_parts/messages.html' %}
                            <div class="d-flex align-items-start mb-3">
                                <div class="w-100">
                                    <h4 class="mt-0 mb-1">Telefon: {{ object.phone }}</h4>
                                    <p class="text-muted">{{ object.get_role_display }}</p>
                                    {% if object.card_to_user_patient.all %}
                                        {% for patientcomehistory in object.card_to_user_patient.all %}
                                            <h4>Card raqami: <b>{{ patientcomehistory.card_id }}</b></h4>
                                        {% endfor %}
                                    {% else %}
                                        <br>
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="mb-1">
                                            <input type="text" hidden name="patient" value="{{ user.id }}">
                                            <input type="text" class="form-control" id="card_id" name="card_id"
                                                   placeholder="Bemor card ID:">
                                        </div>
                                        <div class="text-end">
                                            <input type="submit" class="btn btn-primary waves-effect waves-light mt-1"
                                                   value="Saqlash">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5 class="mb-3 mt-4 text-uppercase bg-light p-2"><i
                                    class="mdi mdi-account-circle me-1"></i> Bemor haqida malumot</h5>
                            <div class="">
                                {% if object.district %}
                                    <p class="mb-3"> {{ object.district }}</p>
                                {% else %}
                                    --
                                {% endif %}
                                {% if object.address %}
                                    <p class="mb-3"> {{ object.address }}</p>
                                {% else %}
                                    --
                                {% endif %}
                                <h4 class="font-13 text-muted text-uppercase mb-1">Pasport malumotlari:</h4>
                                {% if object.passport_seria and object.passport_number %}
                                    <p class="mb-3"> {{ object.passport_seria }}{{ object.passport_number }}</p>
                                {% else %}
                                    --
                                {% endif %}
                                {% if object.person_id %}
                                    <p class="mb-3"> {{ object.person_id }}</p>
                                {% else %}
                                    --
                                {% endif %}
                                <h4 class="font-13 text-muted text-uppercase mb-1">Tug'ilgan kuni:</h4>
                                {% if object.birthday %}
                                    <p class="mb-3"> {{ object.birthday }}</p>
                                {% else %}
                                    --
                                {% endif %}
                                <h4 class="font-13 text-muted text-uppercase mb-1">Qo'shilgan vaqti :</h4>
                                <p class="mb-3"> {{ patient_first_come.come_date }}</p>

                                <h4 class="font-13 text-muted text-uppercase mb-1">Yangilangan vaqti :</h4>
                                <p class="mb-0"> {{ patient_last_come.come_date }}</p>
                            </div>
                        </div>
                    </div> <!-- end card-->
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            {% for history in user.patientcomehistory_set.all %}
                                {% if history.is_active %}
                                    <form id="history-form" method="post">
                                        {% csrf_token %}
                                        <input type="text" id="patient" hidden name="patient" value="{{ user.id }}">
                                        <input type="checkbox" hidden name="is_active">
                                        <button class="btn btn-danger waves-effect waves-light mb-2">Bemorni
                                            faolsizlashtirish
                                        </button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                            {% if patients == None %}
                                <form id="history-form" method="post">
                                    {% csrf_token %}
                                    <input type="text" id="patient" hidden name="patient" value="{{ user.id }}">
                                    <input type="checkbox" hidden name="is_active" checked>
                                    <button class="btn btn-primary waves-effect waves-light mb-2">Bemorni
                                        faollashtirish
                                    </button>
                                </form>
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="text" id="patient" hidden name="patient" value="{{ user.id }}">
                                <div class="mb-3">
                                    {{ service }}
                                    <label for="service" class="form-label">Xizmat</label>
                                    <select name="service" id="service" class="form-control form-control-lg">
                                        {% for service in lead_form.service %}
                                            {{ service }}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="percentage" class="form-label">Chegirma foizi</label>
                                    <input type="text" class="form-control" id="percentage" name="percentage"
                                           placeholder="foiz">
                                    <span>{{ form.percentage.errors }}</span>
                                </div>
                                <div class="mb-3">
                                    <input type="checkbox" name="paid" id="paid">
                                    <label for="paid" class="form-label">To'ganligi holati</label>
                                    <span>{{ form.paid.errors }}</span>
                                </div>
                                <div class="mb-3">
                                    <label for="payment_method" class="form-label">To'lov turi</label>
                                    <select name="payment_method" id="payment_method"
                                            class="form-control form-control-lg">
                                        {% for payment_method in lead_form.payment_method %}
                                            {{ payment_method }}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="text-end">
                                    <input type="submit" onclick="doWork()"
                                           class="btn btn-primary waves-effect waves-light mt-1"
                                           value="Saqlash" id="btn">
                                </div>
                            </form>
                        </div>
                    </div> <!-- end card-->
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>Garov</h4>
                            <hr>
                            <form id="history-form" method="post">
                                {% csrf_token %}
                                <input type="text" id="patient" hidden name="patient" value="{{ user.id }}">
                                <div class="mb-3">
                                    <label for="service_deposit" class="form-label">Xizmat</label>
                                    <select name="service_deposit" id="service_deposit"
                                            class="form-control form-control-lg">
                                        {% for service in lead_form.service %}
                                            {{ service }}
                                        {% endfor %}
                                    </select>
                                </div>
                                <label for="service" class="form-label">Summa</label>
                                <input type="text" class="form-control" id="card_id" name="summa"
                                       placeholder="Summa">
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary waves-effect waves-light mb-2">Saqlash</button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- end card-->
                </div>
            </div>
            <!-- end row -->
            <!--Xizmatlar ro'yxati-->
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h4>Xizmatlar tarixi</h4>
                            {% if user.lead_set.all %}
                                <table class="table" border="1" style="margin-left: -15px;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Xizmat nomi</th>
                                        <th>Summa</th>
                                        <th>To'lov holadi</th>
                                        <th>Qachon qilinganligi</th>
                                        <th>To'lov turi</th>
                                        <th>*</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for u in user.lead_set.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ u.service }}</td>
                                            <td>{{ u.lead_price|intcomma }}</td>
                                            <td>
                                                {% if u.paid %}
                                                    To'langan
                                                {% else %}
                                                    To'lanmagan
                                                {% endif %}
                                            </td>
                                            <td>{{ u.operation_came_time }}</td>
                                            <td>{{ u.get_pay_display }}</td>
                                            <td><a href="{% url 'lead:lead_update' u.pk %}"
                                                   class="action-icon"> <i
                                                    class="mdi mdi-square-edit-outline"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h4 class="text-center text-muted">Foydalanilgan xizmatlar topilmadi</h4>
                            {% endif %}

                        </div>
                    </div> <!-- end card-->
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>Garov olinganligi</h4>
                            {% if user.deposit_set.all %}
                                <table class="table" border="1" style="margin-left: -15px; font-size: 13px">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Xizmat nomi</th>
                                        <th>Summa</th>
                                        <th>Qachon to'lagani</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for u in user.deposit_set.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a href="{% url 'deposit:deposit-delete' u.pk %}"
                                                   class="action-icon" style="font-size: 15px">{{ u.service }}</a>
                                            </td>
                                            <td>{{ u.sum_total|intcomma }}</td>
                                            <td>{{ u.created_at|date:"d-m-Y" }}</td>
                                        </tr>
                                        </form>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h4 class="text-center text-muted">Foydalanilgan xizmatlar topilmadi</h4>
                            {% endif %}

                        </div>
                    </div> <!-- end card-->
                </div>
            </div>
            <!--End Xizmatlar ro'yxati-->

        </div> <!-- container -->

    </div>
    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                const value = $(this).inputmask('unmaskedvalue');

                $('#card_id').inputmask({
                    mask: (value.substr(0, 2) === '37' || value.substr(0, 2) === '34') ? '9999999' : '9999999'
                });
            });

            function doWork() {
                //alert("doing work");
                //$("#btn").attr("disabled", true) || intcomma
                //actually this function will do something and when processing is done the button is enabled by removing the 'disabled' attribute
                //I use setTimeout so you can see the button can only be clicked once, and can't be clicked again while work is being done
                setTimeout('$("#btn").attr("disabled", true)', 1500);
            }
        </script>
    {% endblock js %}
{% endblock %}