body {
   background: #ccc;
}

.dial {
   position: relative;
   width: 80px;
   height: 80px;
   background: #ececec;
   border: 3px solid #5c5c5c;
   border-radius: 50%;
   margin: -11% auto 0;
   box-shadow: 1px 4px 10px 0 rgba(0,0,0,.2);
}

span {
   display: inline-block;
}

.dot {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: radial-gradient(ellipse 10px 5px at 50% 0, #ececec 40%, #5c5c5c 80%);
   z-index: 10;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}

.sec-hand {
   position: absolute;
   top: 10px;
   left: 50%;
   margin-left: -7px;
   width: 6px;
   height: 50px;
   background: url('https://themegion.github.com/AnalogClock/sec.svg') 50% 50% no-repeat;
   z-index: 9;
   transform-origin: 50% 36px;
}

.sec-hand.shadow {
   top: 16px;
   margin-left: -4px;
   background-image: url('https://themegion.github.com/AnalogClock/sec-shdw.svg');
   opacity: .1;
   z-index: 8;
   filter: blur(2px);
}

.min-hand {
   position: absolute;
   top: 10px;
   left: 50%;
   margin-left: -8px;
   width: 6px;
   height: 44px;
   background: url('https://themegion.github.com/AnalogClock/min.svg') 50% 50% no-repeat;
   z-index: 7;
   transform-origin: 50% 60px;
}

.min-hand.shadow {
   top: 18px;
   margin-left: -5px;
   background-image: url('https://themegion.github.com/AnalogClock/min-shdw.svg');
   opacity: .1;
   z-index: 6;
   filter: blur(2px);
}

.hour-hand {
   position: absolute;
   top: 25px;
   left: 50%;
   margin-left: -7px;
   width: 4px;
   height: 40px;
   background: url('https://themegion.github.com/AnalogClock/hour.svg') 50% 50% no-repeat;
   z-index: 5;
   transform-origin: 50% 30px;
}

.hour-hand.shadow {
   top: 30px;
   margin-left: -4px;
   background-image: url('https://themegion.github.com/AnalogClock/hour-shdw.svg');
   opacity: .1;
   z-index: 4;
   filter: blur(2px);
}

.twelve,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven{
   position: absolute;
   font-family: Lato, sans-serif;
   font-size: 12px;
   color: #777;
}

.twelve {
   top: 9px;
   left: 30px;
}

.three {
   top: 27px;
   right: 4px;
}

.six {
   left: 35px;
   bottom: 6px;
}

.nine {
   top: 28px;
   left: 4px;
}

.one {
   top: 8px;
   left: 54px;
}

.two {
   top: 16px;
   right: 9px;
}

.four {
   left: 61px;
   bottom: 15px;
}

.five {
   top: 50px;
   left: 55px;
}

.seven {
   top: 53px;
   left: 18px;
}

.eight {
   top: 27px;
   right: 4px;
}

.ten {
   left: 35px;
   bottom: 6px;
}

.eleven {
   top: 28px;
   left: 4px;
}

.diallines {
   position: absolute;
   top: 5px;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 3px;
   background: #b3b3b0;
   z-index: 1;
   transform-origin: 50% 56px;
}

.diallines:nth-of-type(5n) {
   position: absolute;
   top: 3px;
   left: 50%;
   margin-left: -2px;
   width: 4px;
   height: 8px;
   background: #b3b3b0;
   z-index: 1;
   transform-origin: 50% 57px;
}

.date {
   position: absolute;
   top: 80px;
   left: 50%;
   margin-left: -6px;
   width: 12px;
   height: 10px;
   background: #83837a;
   border-radius: 2px;
   font-family: 'Fjalla One', sans-serif;
   font-size: 7px;
   line-height: 10px;
   color: white;
   text-align: center;
   box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3), inset 0 -2px 2px 0 rgba(255,255,255,.2);
}